.clHt{
    background-color: #fff;
    margin-bottom: 0 ;
}
.clHt a{
    color: #5c5c5c;
}
.navbar-text {
    float: none;
    margin-right: 15px;
    margin-left: 15px;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 200;
}
.navbar-text span:last-child{
    font-weight: bold;
}
.container .jumbotron{
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px;
}
.clCnt{
    padding-bottom: 40px;
}
.jumbotron {
    padding-top: 5px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    /*color: inherit;*/
    color: #fff;
	background-color: #44ba80;
    position: relative;
}
.clCnt .clImg {
    color: #ffffff;
    position: relative;
    overflow: hidden;
}
